{
    "presets": ["es2015"],
    "plugins": [
        "transform-runtime",
	    "syntax-async-functions",
	    "transform-regenerator",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread"
    ]
}
